<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glaway.springcloud.dao.PaymentDao">
    <!-- 结果集映射相关配置-->
    <resultMap id="BaseResultMap" type="com.glaway.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    <!--
    新增一条数据
    -->
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial)
        values (#{serial});
    </insert>

    <!-- 根据 id 查询订单实体类信息-->
    <select id="getPaymentById" resultType="com.glaway.springcloud.entities.Payment">
        select *
        from payment
        where id = #{id}
    </select>

</mapper>